body{
    font-family: "poppins", sans-serif;
    line-height: 1.6;
}
h2{
    font-size:30px;
    font-weight: bold;
    font-style:normal;
    font-variant: normal;

    /* text-transform: uppercase; */
    text-indent: 40px;
    letter-spacing: 2px;
    word-spacing: 5px;
    
    

    
}
a{
    text-decoration: none;
}

p{
    /* font-weight: bold; */
    /* text-transform: lowercase; */
}